{% extends 'base.html' %}

{% block body %}

    <h1 style="text-align: center;">Cell Analyzer</h1>

    {% if table_html|length < 1 %}
        <div class="container">            
            <h4 style="text-align: center;">Não foi possivel carregar o dataframe!</h4>
        </div>
    {% else %}
        <div class="container">

            <h4 style="text-align: center;">Dataframe carregado com sucesso!</h4>

            <div class="text-center" style="padding-bottom: 30px; padding-top: 30px;">

                <div class="btn-group" role="group" aria-label="Basic example">
                    <button id="open" type="button" class="btn btn-secondary">Show Dataframe</button>
                    <button id="close" type="button" class="btn btn-secondary">Hide Dataframe</button>
                </div>

            </div>

            <div id="all_data" class="container">

                <div class="row">
                    <div id="all_data" class="col" style="overflow: auto; height: 500px; padding-bottom: 50px;">
                        {{table_html | safe}}
                    </div>
                </div>

                <div class="row" style="padding-top: 30px;">
                    <div class="col-auto" style="text-align: center; margin: 0 auto;"> 
                        <h5>Max Values</h5>
                        {{max_values | safe}}
                    </div>
                    <div class="col-auto" style="text-align: center; margin: 0 auto;"> 
                        <h5>Min Values</h5>
                        {{min_values | safe}}
                    </div>
                    <div class="col-auto" style="text-align: center; margin: 0 auto;">
                        <h5>Type Values</h5>
                        {{type_values | safe}}
                    </div>
                </div>
    
                <div class="text-center" style="padding-bottom: 30px; padding-top: 30px;">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <form action="/" method="POST">
                            <input type="submit" value="Normalize">
                        </form>
                    </div>
                </div> 

            </div>
        
        </div>
    {% endif %}

{% endblock %}